fastapi
pip
uvicorn[standard]
python-multipart
pypdf
PyPDF2
pdfplumber
docling
defusedxml
qdrant-client
fastembed
openai
google-genai
langchain-google-genai
Pillow
python-dotenv
pydantic
pydantic-settings
numpy
pandas
tiktoken
tabulate
python-jose[cryptography]
passlib[bcrypt]
loguru
